<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>First name:</label>
        <input type="text" th:field="*{firstName}" /><br/>
        
        <label>Second name:</label>
        <input type="text" th:field="*{secondName}" /><br/>

        <button type="submit">Register</button>    
    </form>
</div>
</body>
</html>