<!doctype html>
<html lang=en-US>
<head>
	<meta charset=UTF-8>
	<title>AsciiMath</title>
	<script>
		window.MathJax = {
				"fast-preview": {
       					disabled: true
				},
				AuthorInit: function() {
					MathJax.Hub.Register.StartupHook('End', function() {
						MathJax.Hub.processSectionDelay = 0
						var demoSource = document.getElementById('demoSource')
						var demoRendering = document.getElementById('demoRendering')
						var math = MathJax.Hub.getAllJax('demoRendering')[0]
						demoSource.addEventListener('input', function() {
							MathJax.Hub.Queue(['Text', math, demoSource.value])
						})
					})
				}
			}
	</script>
	<script async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML-full">
	</script>

	<link href=http://fonts.googleapis.com/css?family=Quicksand
			rel=stylesheet type=text/css>
	<link rel=stylesheet th:href=@{/css/screen.css}>
	<meta name=viewport
			content="width=device-width, initial-scale=0.8,
			minimum-scale=0.8, maximum-scale=10">
</head>

<body>

<div id="wrapper">

<nav>
	<h1>AsciiMath</h1>
</nav>

<article>
<section id="about">
	<h2>About</h2>

	<p>AsciiMath is an easy-to-write markup language for mathematics.<br>
		Try it out in the interactive renderer:</p>

	<div class="leftColumn">
		<label for="demoSource">Input:</label>
		<br/>

		<textarea class="ioArea" id="demoSource">sum_(i=1)^n i^3=((n(n+1))/2)^2</textarea>
	</div>

	<div class="rightColumn">
		<label for="demoRendering">Rendering:</label>
		<br/>

		<div class="ioArea" id="demoRendering">
			`sum_(i=1)^n i^3=((n(n+1))/2)^2`
		</div>
	</div>
</section>

</body>
</html>
